/* Body configuration */
body {
	margin: 0;
	color: white;
}
@media screen and (min-width: 640px) {
	body {
		background: url("../img/bg/IMG_20190912_190557.jpg") center left/100% auto no-repeat fixed;
	}
	.section .section_content img, .page_pgh img {
		width: 600px;
	}
	
	#top_tb_links {
		display: initial;
	}
	#top_tb_menu {
		display: none;
	}
}
@media screen and (max-width: 639px) {
	body {
		background: url("../img/bg/IMG_20190912_190557.jpg") center left/auto 100% no-repeat fixed;
	}
	.section .section_content img, .page_pgh img {
		width: 95%;
	}
	
	#top_tb_links {
		display: none;
	}
	#top_tb_menu {
		display: initial;
	}
}


/* Top toolbar */
#top_tb {
	background-color: black;
	box-shadow: 0 0 5px black;
	padding: 8px 5px;
	height: 20px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
#top_tb #top_tb_left {
	float: left;
}
#top_tb #top_tb_right {
	clear: right;
	text-align: right;
	margin-right: 10px;
}
#top_tb_links a {
	margin-left: 5px;
}
#top_tb_menu_btn {
	cursor: default;
	width: 24px;
	height: 24px;
	background-color: #111;
	border-radius: 5px;
	margin-right: 10px;
	float: right;
	text-align: center;
}
#top_tb_menu_btn:active {
	background-color: #333;
}
#top_tb_menu_contents {
	display: none;
	background-color: black;
	position: absolute;
	right: 24px;
	top: 36px;
	border: 1px solid #E4C8FF;
	box-shadow: 0 0 5px white;
	max-width: 300px;
	text-align: center;
	padding: 5px 3px;
}
#top_tb_menu_contents li {
	font-size: 16px;
	margin-bottom: 5px;
}
#top_tb_menu_contents ul {
	list-style-type: none;
	padding: 0;
}

/* Links */
a, a:visited {
	color: #ccf;
	border-radius: 40px;
	border: 1px dotted rgba(0,0,0,0.0);
	padding: 2px;
	text-decoration: none;
}
a:hover {
	background-color: #007;
	border: 1px solid #ddf;
}
a:active {
	background-color: #00c;
	border: 1px solid #ddf;
}
a.pict_links {
	background-color: rgba(0,0,0,0.0);
	border: none;
}

/* Paragraphs */
body>p:first-of-type {
	margin-top: 50px;
}
p.page_pgh, ul.content_list {
	margin: 15px;
	background-color: rgba(24,24,24,0.9);
	box-shadow: 0 0 5px rgba(24,24,24,0.9);
	padding: 10px;
	list-style-type: none;
}
ul.content_list :not(:last-child) {
	padding-bottom: 20px;
}

/* Sections */
.section {
	margin: 15px;
	border-radius: 10px;
	background-color: rgba(24,24,24,0.9);
	box-shadow: 0 0 5px rgba(24,24,24,0.9);
}
.section .section_heading {
	width: 100%;
	border-radius: 10px 10px 0 0;
	background-color: rgba(40,40,40,0.7);
	font-size: 36px;
	padding: 5px 0;
	margin-bottom: 10px;
}
.section .section_content {
	padding: 5px;
}
.section .section_content * {
	margin: initial 5px;
}

/* Other */
code {
	font-family: Hack, "Ubuntu Mono", Consolas, monospace;
	outline: 1px solid white;
	background-color: #1a1a1a;
	box-shadow: 2px 2px 5px #555;
	padding: 2px;
	font-size: 11px;
	cursor: default;
	display: inline-block;
}
u.inprog_link {
	color: #EAD4FF;
	text-shadow: 0 0 5px #EAD4FF;
	cursor: default;
}
span.asterisk {
	color: red;
	vertical-align: super;
	font-weight: bold;
}